[package]
name = "ontio-std"
version = "0.1.0"
authors = ["laizy <aochyi@126.com>"]
edition = "2018"

[dependencies]
wee_alloc = "0.4"
bigint = { version = "4.4", default-features = false }
fixed-hash = { version = "0.3", default-features = false }
cfg-if = "0.1"
byteorder = { version = "1", default-features = false }
ontio-codegen = { path = "../ontio-codegen"}

[features]
std = []
test = ["std"]
